name: build services
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - services/**
jobs:
  push:
    name: "services:${{ matrix.service }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service:
          - redis
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
        with:
          version: "v0.5.1"
          buildkitd-flags: --debug
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      - name: Set lowercase repo owner
        id: prep
        run: echo "REPO_OWNER_LOWER=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
      - uses: docker/build-push-action@v2
        with:
          context: ./services/${{ matrix.service }}
          file: ./services/${{ matrix.service }}/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ env.REPO_OWNER_LOWER }}/yolks:service_${{ matrix.service }}
